.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node {
    cursor: pointer;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
.form {
    float: left;
    margin-right: 2em;
}
.loading {
    display: none;
}
#tree {
    clear: left;
    width: 960px;
    overflow-x: scroll;
}